table {
	margin: 10px auto;
	border: 1px dotted #999;
	width: 500px;
	margin-bottom: 20px;
}
.price {
	text-align: right; width: 60px;
}

td div {
	text-align: left;
	font-size: inherit;
	text-transform: none;
	font-weight: inherit;
}
div {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.print {
	text-align: center;
	display: block;
}
@media print {
	.print {
		display: none;
	}
}
.nos {
	text-align: right;
	vertical-align: top;
	color: #666;
}
tr > td.header.pad {
  border: 0px solid red;
  padding-top: 12px;
  background: ;
}
