/* this is a custom CSS stylesheet */

@navbar: #829BCD;
@navActive: #4D70B8;
@mainColour: darken(@navActive, 10%);

html {
  background-color: #;


}
body {
  padding-top: 0px;
  padding-bottom: 0px; margin-top: 0px;
  background: #D4E7FA url(../img/bg.jpg) no-repeat fixed center center;
  color: @mainColour;
}

html, body {
  height: 100%;
}

#toTop {
    border: medium none;
    bottom: 0.75rem;
    display: none;
    height: 43px;
    overflow: hidden;
    position: fixed;
    right: 0.75rem;
    text-decoration: none;
    width: 43px;
    z-index: 100;
}

td div {
  margin-top: 3px;
}
.add {
  margin-bottom: 6px;
}

#g1, #g2 {
  display: none;
}

td input {
  border-radius: 12px;
  border: 1px solid @navbar;
  padding: 0 10px;
  color:inherit;
  font-family: Courier;
  background: lighten(@navbar, 30%);
  height: 25px;
  width: 70px;
  text-align: right;
}

td input.item, textarea {
  width: 100%;
  text-align: left;
}
form {
  padding-bottom: 30px;
}

textarea {
  border-radius: 5px;
  border: 1px solid @navbar;  
  color: @mainColour;
  width: 100%;
  margin-top: 3px;
  padding: 10px;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0px auto -60px;
  /* Pad bottom by footer height */
  padding: 0px 0 80px;

}

/*  HEADER NAVIGATION ########################## */ 
header {
  height: 156px;
  background: #99ccff url(../img/header.jpg) no-repeat center center;
  margin-bottom: 0px;
  border-bottom: 7px solid #4D70B8;
}

.price {
  text-align: right;
  width: 15%;
}
.nos {
  .price;
  color: lighten(@navActive, 10%);
  font-family: 'Arial Narrow';
  width: 6%; 
}

.price_empty {
  border-color: lighten(red, 10%);
  background-color: lighten(red, 45%)
}

.price_not_empty {
  background-color: lighten(@navbar, 30%);
}

.menuHeader {
  font-weight: bold;
}
section.visible-xs {
  height: auto;
  background-color: #99cdff;
  border-bottom: 0px solid #4D70B8;

}
.menus.visible-xs {
  color: @navbar;
  font: 20px Verdana;
  font-weight: bold;
  line-height: 43px;  
}
.gen-hid {
  display: none;
}
nav img {
  text-align: right;
  margin: 10px 0 10px auto;
}
.nav-pills > li {
  color: #4D70B8;
}
.nav-pills > li a {
  background-color: @navbar;
  color: #fff;
}
.nav-pills > li a:hover {
  background-color: @navActive;
  color: #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #4D70B8;
    color: #FFFFFF;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #b5d7f9;
    line-height: 1.42857;
    padding: 2px;
    vertical-align: top;
}
tr > td.header.pad {
  border: 0px solid red;
  padding-top: 12px;
  background: ;
}


iframe {
  border-radius: 10px;
}
.frm-err, #login-err, #pass-err, #frm-err {
  color: lighten(red, 20%);
}

.add-err {
  color: lighten(red, 20%);
  float: right;
  margin-right: 20%;
}

.gen-pad {
  padding-top: 5px;
  padding-bottom: 5px;
}
.panel {
  background: lighten(@navbar, 10%);
}

.panel-default {
  border-color: @navbar;
}
.panel-default > .panel-heading {
  background: lighten(@navbar, 7%);
  border-color: lighten(@navbar, 15%);
  color: #fff;
}

footer {
   border-top: 0px dashed #666;
  height: 60px;

  background: #4D70B8;
  font: 12px 'Merriweather', serif;
  color: #fff;
  line-height: 60px;
}

footer a {
  color: #ddd;
}

@media (max-width: 767px) {
  nav {
    margin-top: 10px;
  }
  nav li a {
    text-align: center;
  }

}
@media (min-width: 768px) and (max-width: 991px) {
  main table, iframe {
    margin-top: 15px;
  }

}
@media (min-width: 992px) and (max-width: 1199px) {
  main table, iframe {
    margin-top: 15px;
  }

}
@media (min-width: 1200px) {
  main table, iframe {
    margin-top: 15px;
  }
}
