/* this is a custom CSS stylesheet */
html {
  background-color: #;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  background: #d4e7fa url(../img/bg.jpg) no-repeat fixed center center;
  color: #3c5996;
}
html,
body {
  height: 100%;
}
#toTop {
  border: medium none;
  bottom: 0.75rem;
  display: none;
  height: 43px;
  overflow: hidden;
  position: fixed;
  right: 0.75rem;
  text-decoration: none;
  width: 43px;
  z-index: 100;
}
td div {
  margin-top: 3px;
}
.add {
  margin-bottom: 6px;
}
#g1,
#g2 {
  display: none;
}
td input {
  border-radius: 12px;
  border: 1px solid #829bcd;
  padding: 0 10px;
  color: inherit;
  font-family: Courier;
  background: #eff2f9;
  height: 25px;
  width: 70px;
  text-align: right;
}
td input.item,
textarea {
  width: 100%;
  text-align: left;
}
form {
  padding-bottom: 30px;
}
textarea {
  border-radius: 5px;
  border: 1px solid #829bcd;
  color: #3c5996;
  width: 100%;
  margin-top: 3px;
  padding: 10px;
}
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0px auto -60px;
  /* Pad bottom by footer height */
  padding: 0px 0 80px;
}
/*  HEADER NAVIGATION ########################## */
header {
  height: 156px;
  background: #99ccff url(../img/header.jpg) no-repeat center center;
  margin-bottom: 0px;
  border-bottom: 7px solid #4D70B8;
}
.price {
  text-align: right;
  width: 15%;
}
.nos {
  text-align: right;
  width: 15%;
  color: #718dc7;
  font-family: 'Arial Narrow';
  width: 6%;
}
.price_empty {
  border-color: #ff3333;
  background-color: #ffe5e5;
}
.price_not_empty {
  background-color: #eff2f9;
}
.menuHeader {
  font-weight: bold;
}
section.visible-xs {
  height: auto;
  background-color: #99cdff;
  border-bottom: 0px solid #4D70B8;
}
.menus.visible-xs {
  color: #829bcd;
  font: 20px Verdana;
  font-weight: bold;
  line-height: 43px;
}
.gen-hid {
  display: none;
}
nav img {
  text-align: right;
  margin: 10px 0 10px auto;
}
.nav-pills > li {
  color: #4D70B8;
}
.nav-pills > li a {
  background-color: #829bcd;
  color: #fff;
}
.nav-pills > li a:hover {
  background-color: #4d70b8;
  color: #fff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #4D70B8;
  color: #FFFFFF;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #b5d7f9;
  line-height: 1.42857;
  padding: 2px;
  vertical-align: top;
}
tr > td.header.pad {
  border: 0px solid red;
  padding-top: 12px;
  background: ;
}
iframe {
  border-radius: 10px;
}
.frm-err,
#login-err,
#pass-err,
#frm-err {
  color: #ff6666;
}
.add-err {
  color: #ff6666;
  float: right;
  margin-right: 20%;
}
.gen-pad {
  padding-top: 5px;
  padding-bottom: 5px;
}
.panel {
  background: #a6b8dc;
}
.panel-default {
  border-color: #829bcd;
}
.panel-default > .panel-heading {
  background: #9bafd7;
  border-color: #b9c7e3;
  color: #fff;
}
footer {
  border-top: 0px dashed #666;
  height: 60px;
  background: #85aaf7;
  font: 12px 'Merriweather', serif;
  color: #fff;
  line-height: 60px;
}
footer a {
  color: #ddd;
}
@media (max-width: 767px) {
  nav {
    margin-top: 10px;
  }
  nav li a {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  main table,
  iframe {
    margin-top: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  main table,
  iframe {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  main table,
  iframe {
    margin-top: 15px;
  }
}
