@charset "utf-8";
/* CSS Document */

/* FONT COLOURS */
/* TABLE COLOURS */
/* TABLE BORDER COLOURS */
/* BACKGROUND COLOURS */
/* -webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
#maincontainer #topsection1 #topsection #contentwrapper #contentwrapper1 #contentcolumn #leftcolumn #rightcolumn #footer #footer1
#navigation 
table td .tabletop .tablecontainer .rowhead .oddrow .evenrow #home
form .inputedit label
*/
.no {
	color: #518a96;
	background-color: #D4E7FA;
	border-color: #92cbd7;
	}
iframe {-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; border:1px solid #D4E7FA}

body{
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-color: #D4E7FA; /* f7fefe  e3fcfb || d1e9ee b9e7f1 35aac3 92cbd7 */
	
}
a:link, a:visited {
	text-decoration: none;
	color: #35aac3;
}
a:hover {
	text-decoration: underline; 
}

img  {border:0px solid #000}
/* CONTAINERS AND INNERTUBES START ################################################## */

#maincontainer{
	width: 940px;
	margin: 0 auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #336FA1;  /*518a96  5d8c96*/
	border: 1px solid #92cbd7; /* 5199e3*/
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px; background-color:#;
	background-image: url(../img/header.pn);
	background-repeat: no-repeat;
	background-color: #99ccff; margin-top: 5px; background-position:center center
}
#topsection1{
	height: 160px; /*Height of top section*/
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
}
#topsection{
	height: 0px; /*Height of top section*/
	background-image: url(../img/top2.jp);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center
}

#contentwrapper{
	float: left;
	width: 100%;
	background-image: url(../img/mid.jp);
	background-repeat: repeat-y;
	background-position: center top; border: 1px solid #92cbd7;
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
	border-right: 0px solid #92cbd7; border-left: 0px solid #92cbd7;
	background-color:#fff;
}

#contentcolumn{
margin: 0 0 0 240px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
border: 0px solid #000; min-height: 550px; text-align: left; font-size: 12px
}


#leftcolumn{
float: left;
width: 240px; /*Width of left column in pixel*/
margin-right: 0px; /*Set margin to that of -(MainContainerWidth)*/
border-right: 0px solid #F1E4C1; padding-left: 10px;
}



#rightcolumn{
float: right;
width: 0px; /*Width of right column*/
margin-left: 0px; /*Set left margin to -(RightColumnWidth)*/
border: 0px dotted #994f10;
}

#footer{
	clear: left;
	height: 0px;
	width: 100%;
	color: #666;
	text-align: center;
	padding: 4px 0;
	background-repeat: repeat-y;
	background-position: center top;
	background-color: #;
	background-image: url(../img/mid2.gi); font-size: 11px;
}
#footer1 {margin-bottom:2px;font-size: 11px;text-align:center; border:0px solid #000}

#footer a{
color: #FFFF80;
}
#footer10{
	height: 5px;
	background-image: url(../img/btm.pn);
	background-repeat: no-repeat;
	background-position: center bottom; text-align: center;
}
.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
border: 0px solid #000
}
/* CONTAINERS AND INNERTUBES END ############################################### */

/* MAIN NAVIGATION STARTS ######################################################  */
.nav_others {margin-left: auto; margin-right: auto}
#navigation ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;			
	float: left;
	width: 200px;
	text-align: right;
	font-weight:bold;
}

#navigation a {
	display: block;
	padding: 5px;
	width: 210px;
	border-bottom: 1px dotted #92cbd7;
}

#navigation a:link, #navlist a:visited {
	color:#3269a1;  
	text-decoration: none; font-weight:bold; font-size: 14px; font-family: Arial
	
}

#navigation a:hover {
	background-color: #92cbd7; /*   CC6714 */ 
	color:#FFFFFF;
}

#navigation p {
	margin-top: 40px;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
	border-top: 1px dotted #CCC;
}

.nav_others { width: 100%; border:0px solid #000; text-align: center }
/* MAIN NAVIGATION ENDS ######################################################  */
/*br {clear: left}*/

/* TABLES START ######################################################  */
.tablecontainer {margin-left:auto; margin-right:auto; }
.tablecontainer {width: 90%; border:0px solid #000;}
.tabletop {border:1px solid #B1D6FA;-webkit-border-top-left-radius: 7px;
-webkit-border-top-right-radius: 7px;
-moz-border-radius-topleft: 7px;
-moz-border-radius-topright: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px; height: 17px; background-color: #B1D6FA; border-bottom: 0px solid #000;margin-top:20px;  margin-left:auto;margin-right:auto; padding-bottom: 3px;padding-top:3px; padding-left: 5px; font-size: 15px;font-family: Helvetica, sans-serif; color: #336FA1 }
.tabletop a:link, .tabletop a:visited {color: #336FA1}
table, td {
	 font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px; border:1px dotted #B1D6FA; border-top: 0px dotted #000; /*d1e9ee b9e7f1 35aac3 92cbd7*/
/*	-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px; padding: 5px; */
}/* TABLE COSMETICS */ 
table {border-bottom:0px solid #000; width: 100%; }


td { border-right:0px dotted #92cbd7;border-left:0px dotted #92cbd7;}

	
.rowHead { background-color: #92cbd7; vertical-align: top; color: #3b8b9c; height: 25px; font-weight:bold }
.rowHead a:link, .rowHead a:visited { color: #FFF}
.rowHead a:hover { color: #300; text-decoration: none}
.oddrow { background-color: #f9ede4;  vertical-align: top }
.evenrow { background-color: #FFFFFF; vertical-align: top}
td { padding-left:5px;  padding-right:5px; }

/* TABLES END ################################################################################################################  */
/* ALL FORMS START ###########################################################################################################  */
form p { border: 0px solid #000; line-height: 7px }
p#find {text-align:center; border:1px dotted #F1E4C1; -webkit-border-radius: 7px;-moz-border-radius: 7px;
border-radius: 7px; padding: 1px; line-height: 1px;  background-color:#; }

.viewinfo p { border: 0px solid #000; line-height: 7px }

label {
	display: block; width: 150px; float: left; margin: 6px 4px 6px 4px; font-family:Verdana; text-align: right; }
.viewinfo label { display: block; width: 150px; float: left; margin: 6px 4px 6px 4px; font-family:Verdana; text-align: right; }

.inputedit {
	font-size: 13px;
	color: #994f10; /* f4c094 336699*/
	border: 1px solid #993;
	text-align: left;
	margin: 1px 1px 1px 0px;
	background-color: #FC9;
	font-family: Verdana, Arial, Helvetica, sans-serif; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
	
}

form .inputfront {margin: 10px 1px 19px 0px; background-color: #FC9; border: 1px solid #999; font-size: 13px; color:#666; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.viewinfo .readonly {
	font-size: 13px;
	color: #963; /* f4c094 336699 994f10*/
	border: 0px solid #993;
	text-align: left;
	margin: 2px 1px 1px 10px;
	background-color: #fff;   /* f7fefe  e3fbfb */
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	
}
form iframe { text-align: center}
form .formErrors {

	font-size: 9px;
	color: #F63;			
}

form .inputedit:hover {
	border: 1px solid #336699;
}
.inputq {text-align: right; width: 40px}

/* ALL FORMS END ###############################################################################################################  */

/* OTHER MISC ##################################################################################################################  */
/* {padding-left; padding-right:}*/
#home {margin-left: auto; margin-right: auto}
.picsContainer {width:100%; border:0px dotted #92cbd7;text-align:center;padding-top:25px;padding-bottom:15px}
.pics {width:102px;text-align:center;padding:5px}
#other_links {width:100%; margin-right:auto; margin-left: auto; text-align:center}
#home {width: 90%; text-align:justify; font:15px arial;	line-height:18px; }
/* OTHER MISC ##################################################################################################################  */


ol, ol li { font: 12px Arial bold, Helvetica, sans-serif;}

.forbob {font: Verdana, Geneva, sans-serif; color: #09C;text-align:center; font-style:italic}
/*
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
*/



#sideMenu ul {
margin-left: 0;
padding-left: 0;
list-style-type: none;			
float: left;
width: 95%;
}

#sideMenu a {
display: block;
padding: 5px; 
width: 95%;
border-bottom: 1px solid #0b556b; font-weight: bold
}

#sideMenu a:link, #sideMenu a:visited {
color: #0b556b;
text-decoration: none;
}

#sideMenu a:hover {
background: #000000 url(../images/arrow.gif) 96% 50% no-repeat;
background-color: #cc6; /* 0b556b */
color:#0b556b;
}

/* THE SMALL BOX BELOW NAV */ /* d1e9ee b9e7f1 35aac3 92cbd7 */

/* ############### */
.pl  {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	border-top: 1px solid #cc6;
}




.smTex, .smTex2 {
	font-size: 10px;
	font-style: italic; margin-top: 1px 
}
.smTex { margin-bottom: 7px}
.oneRow {
	background-color: #CC6;
	vertical-align: top;
}
.aCol {
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CC6;
	border-left-color: #CC6;
}
.bCol {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CC6;
}
#prodMenu { text-align: left;}

.top {float:left; background:#cc6 url('../images/round_01.jpg') no-repeat left top; width:100%; height:5px;text-align:center; margin-top: 0px}
.bottom {
	float:left;
	width:100%;
	background-color: #cc6;
	background-image: url(../images/round_09.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-bottom: 5px;
}
.round { float:right; border: 0px solid #000;}
.cont {  padding: 0 6px; background: #cc6; }
.contHeader {  padding: 0 6px; background: #cc6;}
.button_cont { background:#cc6; padding: 1px 3px; height: inherit; margin-bottom: -3px}
.box {width: 400px; margin: 0 auto;}
.tableTop {float:left; background:#cc6 url('../images/round_01.jpg') no-repeat left top; width:100%; height:5px;text-align:center; margin-top: 0px}

/* */
.bottom2 {float:left; background-image: url(../images/images/btm-l.png); background-repeat: no-repeat;
	background-position: left bottom; width:17px; height:7px;text-align:center; margin-top: -7px; border: 0px solid #000;}
.round2 { float:right; border: 0px solid #000;}
.cont2 {  padding: 0 6px; background: #8d8d48; }
.tableTop2 {float:left; background-image: url(../images/images/top-l.png); background-repeat: no-repeat;
	background-position: left top; width:17px; height:7px;text-align:center; margin-top: -7px; border: 0px solid #000;}
/* */

.table_title {
	height: 19px;
	color: #663;
	text-align: left; padding: 0 0px;
}
.headerLeft {float:left; margin-bottom:-3px; }
.headerRight {float:right; margin-bottom:-3px; font-size: 10px; margin-right: 7px;}
.inputq { border: 1px solid #Cc6; background-color: #fff; color: #366 }
.other_code { color: #960}

.butLeft { background: url('../images/barLeft.gif') no-repeat bottom left; height: 23px; margin-top: 10px; float: left; margin-right: 3px}
.butCont { background: url('../images/button.gif') no-repeat top right; border: 0px solid #000; margin-left: 2px; height: 23px; color: #663; padding-bottom: 2px}
.butRight { background: url('images/barRight.gif') no-repeat bottom right; height: 23px;  margin-top: -23px; margin-left: 10px ; width: 17px; border: 1px solid #000}
/*.butLeft:hover { background: url('images/barleft.gif') no-repeat top left;}
.butRight:hover { background: url('images/barRight.gif') no-repeat top right;}*/
.butCont:hover { background: url('../images/button.gif') no-repeat bottom right; border: 0px solid #000; margin-left: 2px; height: 23px; color: #336699;}
.msg { font-style: italic; color: #663; float: left; margin-top: 15px}
.msgSm { font-style: italic; color: #663;  font-size: 11px; font-style: italic}
.msg_err { font-style: italic; color: #900; float: left}
.form_err {  color: #900; font-size: 10px}
#newcart { float: right }
.formBox {border: 1px solid #cc6; padding: 10px 0px 0px 10px; height: auto}
.formHeader { background: #cc6; text-align: center;}
.block { background-color: #F00; color: #fff;}
#confirmDel-2 { width: 100px; border: 1px solid #000000; margin: 0px auto; }
#confirmDel {
	position:absolute;
	right:20px;
	width: inherit;
	height: inherit;
	visibility:hidden;
	text-align: center;
	border: 0px solid #900;
	padding: 5px;
}
#confirmDel a:link, #confirmDel a:visited { color: #cc6}
#confirmDel a:hover { color: #fff; text-decoration: none}


#table_company {
	border: 1px solid #FC6;
}    /*font: font-style font-variant font-weight font-size/line-height font-family;*/
.mHeader { color: #5093BF;  font-size:10px;  text-transform:uppercase;}
.numbering { color: #66ABD9; font-size:11px; text-transform:capitalize;}
.funtionz { border: 1px solid #000000}
/*#row336 { background-color: #F00; color: #fff }
#row336 a:link, #row336 a:visited { color: #FF0}*/

#maincontainer, #topsection1, #topsection, #contentwrapper, #contentwrapper1, #contentcolumn, #leftcolumn, #rightcolumn, #footer, #footer1,
#navigation, table, td, .tabletop, .tablecontainer, .rowhead, .oddrow, .evenrow, 

 {font-size: 13px}


#footer1 span {
	float: right;
	margin-right: 20px;
}
#sitemap {
	margin: 20px 20px;
}