<br>
    <div>
<br>Live Chat
<br>Now chatting with Patrick, case # 813206988
<br>PatrickThanks for contacting AppleCare chat support. My name is Patrick. How can I help you?
<br>Me:Hi Patrick. I have an iphone 4 with the locked screen. Can we bring to you proof our identity/purchase for it to be unlocked?
<br>Me:We bought it in around 2012
<br>PatrickOK so the iPhone 4 is locked and you do not have the passcode to unlock it Is that correct?
<br>Me:not the passcode sorry. the iCloud that is still locked to a 12-yr old email/apple id which he couldn't remember. he doesn't have access to his email.
<br>Me:the Activation Screen
<br>Me:he recently forgot his passcode which we managed to sort it out with you
<br>PatrickOk so it cannot be removed because he no longer has access to that email.
<br>Me:correct
<br>PatrickI would be happy to check into options for assisting you with this. It is important that you get that device unlocked.
<br>PatrickNow if you go here and enter the Apple ID, are you able to answer security questions?
<br>Me:we don't have his full apple ID.
<br>Me:it only shows b*****@gmail.com
<br>Me:if we can proof that we purchased this device, is there anyway you can help us reset the phone and remove the associated old apple ID?
<br>PatrickOK since you cannot use the website, phones support would have to verify your identity and purchase to unlock it. I can have them call you to do this.
<br>Me:ok thank. i set this phone for a friend's son a few years ago. he bought it from you dircet i think.
<br>PatrickOne moment please while I get that setup.
<br>PatrickWhat is your timezone and spoken language?
<br>Me:we're in Kent, UK, so that's London's timezone, and we speak English (UK)
<br>Me:sorry i have just been on the phone with him, he bought the phone from THREE mobile network operator in UK
<br>Me:and he has been with them for many years
<br>PatrickOk thank you
<br>PatrickIs that GMT or BST?
<br>Me:GMT
<br>PatrickOk thank you. Sorry I am in the United States
<br>Me:that's ok. i gathered that.
<br>PatrickAnd time is it there now so that I can see the closest time?
<br>Me:10.50 AM
<br>Patrick11:45 is next closest tim
<br>Patricktime*
<br>Me:it is 10:52 AM here now
<br>PatrickWould 11:45 am be ok?
<br>Me:yes that's fine
<br>PatrickAnd the best number to call?
<br>Me:his number is +44 7411 167 617
<br>Me:his name is Jon Newbury
<br>PatrickOK that is all set up. They will call no later than 12pm. They will start attempting to call him at 11:45M
<br>Me:the phone is used by his son Benjamin Newbury. I helped setup the phone some 2 years ago. I am not with him but I have the phone with me to reset.
<br>PatrickOk. Thai will go over everything they need on the call
<br>Me:ok thank you.
<br>PatrickYou are very welcome. Is there anything else that I can assist you with today?
<br>Me:the phone is with me though. will they need him to have the phone?
<br>Me:i'll drive it to him
<br>PatrickNO they will help with Apple ID to get the passcode removed
<br>Me:not passcode
<br>Me:Activation Screen
<br>PatrickI am sorry. Yes they will remove that
<br>Me:Thank you
<br>PatrickYou are very welcome
<br>Me:Thanks Patrick
<br>Me:bye now
<br>PatrickGoodbye
<br>
    Apple may record and retain the following conversation for quality control and training purposes.</div>