/* this is a custom CSS stylesheet */

@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather|Luckiest+Guy);
/*font-family: 'Bree Serif', serif;
font-family: 'Merriweather', serif;
font-family: 'Luckiest Guy', cursive;*/

html {
  background-color: #;


}
body {
  padding-top: 0px;
  padding-bottom: 0px; margin-top: 0px;
  background: #D4E7FA url(../img/bg.jpg) no-repeat fixed center center;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0px auto -60px;
  /* Pad bottom by footer height */
  padding: 0px 0 80px;

}

/*  HEADER NAVIGATION ########################## */ 
header {
  height: 156px;
  background: #99ccff url(../img/header.jpg) no-repeat center center;
  margin-bottom: 0px;
  border-bottom: 7px solid #4D70B8;
}

span.menu.visible-xs {
  height: auto;
  background-color: #99cdff;
  border-bottom: 0px solid #4D70B8;
  font: 25px Verdana;
  color: #000;
  font-weight: bold;
  line-height: 43px;
}
nav {
  padding-bottom: 10px;
}
.nav-pills > li {
  color: #4D70B8;
}
.nav-pills > li a {
  background-color: #829BCD;
  color: #fff;
}
.nav-pills > li a:hover {
  background-color: #4D70B8;
  color: #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #4D70B8;
    color: #FFFFFF;
}

}
.navbar-brand {
  padding: 0px; line-height: 59px;
  padding-right: 5px;
  padding-left: 5px;
}
.navbar-toggle {
  margin-top: 3px;
  margin-bottom: 0px;
}
.navbar-nav > li > a {
   line-height: 59px; padding-bottom: 0px; padding-top: 0px; 
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #744825;
  background-color: #99ccff;
  border-right: 1px solid #CCBFB6;
  border-left: 1px solid #CCBFB6;
  line-height: 59px;
}
header .navbar {
  border: 0px solid #999;
  border-bottom: 1px solid #CCBFB6;
  border-radius: 0px;  
}
/* header .navbar {
  position: relative;
  z-index: 1000;
  min-height: 40px;
  margin-bottom: 10px;
  border: 1px solid transparent;
} */

.navbar-default {
  background-color: #CBC69A;
}

header .navbar {
  background-color: #fff;
  background: url(../img/bg/png3/wood_pattern.pn) center center;
}

.navbar-default .navbar-brand {
  color: #795541;
}
.navbar-default
.navbar-toggle {
  border-color: #896A59;
  color: #896A59;
}
.menus {
  color: #4D70B8;
}
.menus.visible-xs {
  color: #4D70B8;
  font: 18px Verdana;
  text-transform: uppercase;
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 5px solid #4D70B8;


}
.nav-stacked  li {
  float: none;
  text-align: right;
}

@media (max-width: 767px) {
.nav-stacked  li {
  float: none;
  text-align: center;
  }
}

.carousel-inner {
  position: relative;
  width: 488px;
  overflow: hidden;
  border: 1px solid #000;
}

.hometxt {
  color: #00297A;
  text-align: justify;
}

.gen-bac {
  background-color: red;
}

.gen-pad {
  padding-top: 5px;
  padding-bottom: 5px;
}
.gen-mar {
  padding-top: 5px;
  padding-top: 5px;
}
.pad20 {
  padding: 0 80px 0;
}
.gen-hid {
  display: none;
}
.red {
  /* background-color: red; */
  margin-bottom: 5px;
}
.horcenter {
  text-align: center;
  
}
.hor {
  border-bottom: 1px solid #999;
  padding: 10px 0;
}
div.jumbotron {
  background-color: Light Blue;
}

aside .thumbnail {
	background-color: #fff7c2;
	border: 1px solid #999;
	padding: 7px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #4D4A46;
}


.container .navbar {
  border: 1px solid blue;
  border-radius: 5px;

}



aside:last-child img {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #b6a496;
  margin: 0 auto;
}


/*section > img, div > img {
  border: 1px solid #b6a496;
  margin: 5px;
}
*/
aside>section>div>img {
  border: 1px solid silver;
  margin-bottom: 10px;
}

aside.row img {
  margin-bottom: 5px;
}
.rig-blo {
  margin: auto 0 auto auto;
}
.cen-blo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #b5d7f9;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}


/* FOOTER ########################################## */

/*footer .navbar-fixed-bottom {
  background: url(../img/bg/png3/wood_pattern.png) center center;

}
footer {
  color: #666;
  



}
}*/
footer {
   border-top: 0px dashed #666;
  height: 60px;

  background: #4D70B8;
  font: 12px 'Merriweather', serif;
  color: #fff;
  line-height: 60px;
}

