/* this is a custom CSS stylesheet */

@navbar: #829BCD;
@navActive: #4D70B8;
@mainColour: darken(@navActive, 10%);

html {
  background-color: #;


}
body {
  padding-top: 0px;
  padding-bottom: 0px; margin-top: 0px;
  background: #D4E7FA url(../img/bg.jpg) no-repeat fixed center center;
  color: @mainColour;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0px auto -60px;
  /* Pad bottom by footer height */
  padding: 0px 0 80px;

}

/*  HEADER NAVIGATION ########################## */ 
header {
  height: 156px;
  background: #99ccff url(../img/header.jpg) no-repeat center center;
  margin-bottom: 0px;
  border-bottom: 7px solid #4D70B8;
}

.price {
  text-align: right;
}
.nos {
  .price;
  color: lighten(@navActive, 10%);
  font-family: 'Arial Narrow';
  width: 19px;
}
.menuHeader {
  font-weight: bold;
}
section.visible-xs {
  height: auto;
  background-color: #99cdff;
  border-bottom: 0px solid #4D70B8;

}
.menus.visible-xs {
  color: @navbar;
  font: 20px Verdana;
  font-weight: bold;
  line-height: 43px;  
}
.gen-hid {
  display: none;
}
nav img {
  text-align: right;
  margin: 10px 0 10px auto;
}
.nav-pills > li {
  color: #4D70B8;
}
.nav-pills > li a {
  background-color: @navbar;
  color: #fff;
}
.nav-pills > li a:hover {
  background-color: @navActive;
  color: #fff;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #4D70B8;
    color: #FFFFFF;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #b5d7f9;
    line-height: 1.42857;
    padding: 2px;
    vertical-align: top;
}

iframe {
  border-radius: 10px;
}
.frm-err {
  color: lighten(red, 20%);
}
.gen-pad {
  padding-top: 5px;
  padding-bottom: 5px;
}
.panel {
  background: lighten(@navbar, 10%);
}

.panel-default {
  border-color: @navbar;
}
.panel-default > .panel-heading {
  background: lighten(@navbar, 7%);
  border-color: lighten(@navbar, 15%);
  color: #fff;
}

footer {
   border-top: 0px dashed #666;
  height: 60px;

  background: #4D70B8;
  font: 12px 'Merriweather', serif;
  color: #fff;
  line-height: 60px;
}

@media (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {
  main table, iframe {
    margin-top: 15px;
  }

}
@media (min-width: 992px) and (max-width: 1199px) {
  main table, iframe {
    margin-top: 15px;
  }

}
@media (min-width: 1200px) {
  main table, iframe {
    margin-top: 15px;
  }
}
