table {
	margin: 10px auto;
	border: 1px dotted #999;
	width: 500px;
}
.price {
	text-align: right;
}
div {
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.print {
	text-align: center;
	display: block;
}
@media print {
	.print {
		display: none;
	}
}
.nos {
	text-align: right;
	vertical-align: top;
	color: #666;
}