/* this is a custom CSS stylesheet */
html {
  background-color: #;
}
body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  background: #d4e7fa url(../img/bg.jpg) no-repeat fixed center center;
  color: #3c5996;
}
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0px auto -60px;
  /* Pad bottom by footer height */
  padding: 0px 0 80px;
}
/*  HEADER NAVIGATION ########################## */
header {
  height: 156px;
  background: #99ccff url(../img/header.jpg) no-repeat center center;
  margin-bottom: 0px;
  border-bottom: 7px solid #4D70B8;
}
.price {
  text-align: right;
}
.nos {
  text-align: right;
  color: #718dc7;
  font-family: 'Arial Narrow';
  width: 19px;
}
.menuHeader {
  font-weight: bold;
}
section.visible-xs {
  height: auto;
  background-color: #99cdff;
  border-bottom: 0px solid #4D70B8;
}
.menus.visible-xs {
  color: #829bcd;
  font: 20px Verdana;
  font-weight: bold;
  line-height: 43px;
}
.gen-hid {
  display: none;
}
nav img {
  text-align: right;
  margin: 10px 0 10px auto;
}
.nav-pills > li {
  color: #4D70B8;
}
.nav-pills > li a {
  background-color: #829bcd;
  color: #fff;
}
.nav-pills > li a:hover {
  background-color: #4d70b8;
  color: #fff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #4D70B8;
  color: #FFFFFF;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 1px solid #b5d7f9;
  line-height: 1.42857;
  padding: 2px;
  vertical-align: top;
}
iframe {
  border-radius: 10px;
}
.frm-err {
  color: #ff6666;
}
.gen-pad {
  padding-top: 5px;
  padding-bottom: 5px;
}
.panel {
  background: #a6b8dc;
}
.panel-default {
  border-color: #829bcd;
}
.panel-default > .panel-heading {
  background: #9bafd7;
  border-color: #b9c7e3;
  color: #fff;
}
footer {
  border-top: 0px dashed #666;
  height: 60px;
  background: #4D70B8;
  font: 12px 'Merriweather', serif;
  color: #fff;
  line-height: 60px;
}
@media (min-width: 768px) and (max-width: 991px) {
  main table,
  iframe {
    margin-top: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  main table,
  iframe {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  main table,
  iframe {
    margin-top: 15px;
  }
}
