@charset "utf-8";
/* CSS Document */
body { background-image:url(''); background-color: #fff}
table, .tablecontainer
.tabletop, .numbering, .mHeader {color: #333; }
.tabletop {background-color: #ccc}
table, td, .tabletop  {border: 1px dotted #ccc;}
.tablecontainer {width: 650px;}
td { border: 0px solid #000; border-bottom: 1px dotted #999;}
table {border-top: 0px solid #000; border-bottom: 0px solid #000;}
.tablecontainer { border-bottom: 0px solid #000;}
.print {text-align: center;    display: block;}

