@charset "utf-8";
/* CSS Document */

#contentcolumn{
margin: 0 0 0 230px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
border: 0px solid #000; min-height: 550px; text-align: left
}
#leftcolumn{
float: left;
width: 230px; /*Width of left column in pixel*/
margin-left: 0; /*Set margin to that of -(MainContainerWidth)*/
border: 0px solid #000;
}

